In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [2]:
response =  requests.get('https://books.toscrape.com/catalogue/page-1.html')
response

In [3]:
response = response.content

In [4]:
html = BeautifulSoup(response,'html.parser')

In [5]:
ol = html.find('ol')

In [6]:
articles = ol.find_all('article',class_='product_pod')

In [7]:
# Extract first page data

books = []
for art in articles:
    image = art.find('img')
    title = image.attrs['alt']
    star = art.find('p')
    star = star['class'][1] # 2nd index data
    price = art.find('p',class_='price_color').text # only text inside p tag
    price = price[1:] # only number, exclude (pound symbol)
    price = float(price)
    books.append([title,price,star])
books

[['A Light in the Attic', 51.77, 'Three'],
 ['Tipping the Velvet', 53.74, 'One'],
 ['Soumission', 50.1, 'One'],
 ['Sharp Objects', 47.82, 'Four'],
 ['Sapiens: A Brief History of Humankind', 54.23, 'Five'],
 ['The Requiem Red', 22.65, 'One'],
 ['The Dirty Little Secrets of Getting Your Dream Job', 33.34, 'Four'],
 ['The Coming Woman: A Novel Based on the Life of the Infamous Feminist, Victoria Woodhull',
  17.93,
  'Three'],
 ['The Boys in the Boat: Nine Americans and Their Epic Quest for Gold at the 1936 Berlin Olympics',
  22.6,
  'Four'],
 ['The Black Maria', 52.15, 'One'],
 ['Starving Hearts (Triangular Trade Trilogy, #1)', 13.99, 'Two'],
 ["Shakespeare's Sonnets", 20.66, 'Four'],
 ['Set Me Free', 17.46, 'Five'],
 ["Scott Pilgrim's Precious Little Life (Scott Pilgrim #1)", 52.29, 'Five'],
 ['Rip it Up and Start Again', 35.02, 'Five'],
 ['Our Band Could Be Your Life: Scenes from the American Indie Underground, 1981-1991',
  57.25,
  'Three'],
 ['Olio', 23.88, 'One'],
 ['Mesaerion: The Best Science Fiction Stories 1800-1849', 37.59, 'One'],
 ['Libertarianism for Beginners', 51.33, 'Two'],
 ["It's Only the Himalayas", 45.17, 'Two']]

In [8]:
# Extract all pages data 

books = []

# there are 50 pages

for i in range(1,51):
    response =  requests.get(f'https://books.toscrape.com/catalogue/page-{i}.html')
    response = response.content
    html = BeautifulSoup(response,'html.parser')
    ol = html.find('ol')
    articles = ol.find_all('article',class_='product_pod')
    
    for art in articles:
        image = art.find('img')
        title = image.attrs['alt']
        star = art.find('p')
        star = star['class'][1]
        price = art.find('p',class_='price_color').text
        price = price[1:]
        price = float(price)
        books.append([title,price,star])

In [10]:
df = pd.DataFrame(data=books, columns=['Book_Title','Price','Rating_Star'])

In [14]:
df.head()

                              Book_Title  Price Rating_Star
0                   A Light in the Attic  51.77       Three
1                     Tipping the Velvet  53.74         One
2                             Soumission  50.10         One
3                          Sharp Objects  47.82        Four
4  Sapiens: A Brief History of Humankind  54.23        Five

In [12]:
# export data as csv to my device

df.to_excel(r'C:\Users\aly98\Desktop\DS Projects\Scrap web Data\Books_data.xlsx',index=False)

In [13]:
# Importing Data from my device which is saved

data = pd.read_excel(r"C:\Users\aly98\Desktop\DS Projects\Scrap web Data\Books_data.xlsx")
data.head()

                              Book_Title  Price Rating_Star
0                   A Light in the Attic  51.77       Three
1                     Tipping the Velvet  53.74         One
2                             Soumission  50.10         One
3                          Sharp Objects  47.82        Four
4  Sapiens: A Brief History of Humankind  54.23        Five